 tab select*/
.focus {
    box-shadow:0 0 40px 0 rgba(25,70,97,.08);
    border:1px green solid;  
}
.tasks-group-content div.focus {
    border:none !important;
    
}
div.focus>div>.task .task-link, .list-item.focus{
    background:#272f41 !important;
    color:#fff !important;
}
.task .task-link .task-link-fields .task-link-field.custom-task-field-multi span
{
    background:#fff;
}
.tasks-group-wrapper.focus {
    border:none !important;
}
.tasks-group-wrapper.focus .tasks-group-content {
    border:1px #a6a9a6 solid;
}


/* Toggle Task Board */
a.task-toggle {
/*    margin-left:20px;
    font-size:12px;
*/    font-weight:bold;
}
.icon-minus, .icon-plus{
    margin-right:5px;
    margin-left:5px;
}
a.task-toggle {
    font-size:14px;
    padding:5px;
    /*color:#edf2f7;*/
}
a.task-toggle i {
    color:#3a4557;
    background:#fff;
    padding:2px;
}
input:focus {
    border:1px #05b505 solid !important;
    border-radius:5px !important;
}
/* Inline images in comments & descriptins */

img.inline-image {
    max-width:80%;
    height:auto;
}

/* Attachments in Tasks */
.attachment-file a {
   background:#e6e6e6;
   font-weight:bold;
   padding:5px;
   border:1px #ccc solid;
}
.attachment-file a:hover {
  background:#d6d6d6;
  color:#000;
}
.attachment-file a:before {
  content: "\e003";
    font-size: 1.137em;
    font-family: plutio-icons-set!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    text-decoration: none!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1!important;
    vertical-align: middle;
    position: relative;
    speak: none;
}

/* Fast Checkboxes */
.error-message {
    display:block;
    width:300px;
    background:#7d2828;
    color:#fff;
    font-size:14px;
    padding:10px;
    text-align: center;
    z-index: 999999;
    position:relative;
}
.dupe {
    position:absolute;
    margin-top:-20px;
    z-index:99999;
}

.task-checkbox {
    margin:-10px;
    padding:10px;
    position:absolute;
}
.task-title {
    padding-left:35px !important;
}
.dragging-handle+.task-checkbox{
    padding:0;
    position:relative;
    margin:0;
}
.dragging-handle+.task-checkbox+.task-title {
	padding-left:10px !important;
}


.checkbox input[type=checkbox].off+.checkbox-toggle {
	background-color:#fff  !important;
}
.checkbox input[type=checkbox].checked+.checkbox-toggle {
    border: 1px solid #3a4557;
    background-color: #3a4557
}

.checkbox input[type=checkbox].checked+.checkbox-toggle .checkbox-icon {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
.checkbox.checkbox-green input[type=checkbox].checked+.checkbox-toggle {
    border: 1px solid #4dbf39;
    background-color: #4dbf39
}
.checkbox.checkbox-green input[type=checkbox].checked+.checkbox-toggle {
    border: 1px solid #4dbf39;
    background-color: #4dbf39
}
.checkbox.checkbox-orange input[type=checkbox].checked+.checkbox-toggle {
    border: 1px solid #fa7e00;
    background-color: #fa7e00
}
.checkbox.checkbox-red input[type=checkbox].checked+.checkbox-toggle {
    border: 1px solid #db253c;
    background-color: #db253c
}
.task .task-link .task-link-head .task-checkbox input[type=checkbox].checked+span {
    border: 1px solid #4dbf39;
    background-color: #4dbf39
}
.task-completed input[type=checkbox].checked+span:before {
    content: "";
    -webkit-animation-name: o;
    animation-name: o;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: absolute;
    left: -1px;
    background-color: #4dbf39;
    padding: 10px;
    border-radius: 100%;
    opacity: .3;
    pointer-events: none;
    z-index: 10
}
#task-page .task-head .task-checkbox input[type=checkbox].checked+span {
    border: 1px solid #4dbf39;
    background-color: #4dbf39
}


/* Double Click Comment to Edit */ 
.comment-container {
	cursor:hand;
}
.comment-options a {
    display:inline-block;
    font-size:12px;
    background:#ccc;
   padding:0 5px;
    font-weight:bold;
}
.comment-options a:nth-child(1) {
     margin-right:5px;
}
    
/* Comment Button */ 

.comment-input-container .comment-options-block button.hover {
    background-color: #3f7b20;
   /*  border: 2px #2b5814 solid;
   padding:1px 4px !important; */
}

/* Sidebar */

#main-menu .container .menu-list a {
    padding:10px;
}
/* Project View */
.list-section .list-item .list-item-cell {
    padding:10px;
}
.list-section .list-item a.list-item-cell .list-title {
    font-size:14px;
    /*font-family:Segoe UI;*/
}
.list-section .list-item {
    margin-bottom:5px;
}

/* Task List */
.add-new-button-wrapper .add-new-button {
    padding:5px;
}

.task a.task-link {
    padding:10px !important;
}
/* remove the 0% completed bar */
/*a.task-link .task-checklist.not-completed-checklist {
    display:none;
}
*/
/*
.task-link-head {
    display:inline-block;
    float:left;
}
a.task-link .task-checklist.not-completed-checklist {
    display:inline-block;
    width:50%;
    margin-left:10%;
    clear:left;
}
.task-link {
    min-height:40px;
    margin-top:2px;
}
